.container{
    position: absolute;
    top: 100%;
    background-color: hsla(229, 31%, 21%, 0.9);
    right: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
}

.list {
    color: white;
    list-style: none;
    padding: 20px
    ;
}
.list li {
    border-top: 1px solid hsla(229, 8%, 60%, 0.2);
    padding: 10px;
}
.list li a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    display: block;
}